header {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: fade-in 2s ease 4s forwards;

    .logo {
        margin-left: 5px;
        margin-top: 5px;
    }

    nav {
        margin-right: 5px;

        @media only screen and (max-width: 768px) {
            display: none;
        }

        a {
            color: $white;
            margin: 0 5px;
        }
    }
}